.h1 {
    text-align: center;
}

.Stap-1 {
    border-style: solid;
    border-color: grey;
    text-align: center;
}

.Stap-2 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-3 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-4 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-5 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 150px;
}

.Stap-6 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 250px;
    width: 150px;
}

.Stap-7 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-8 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-9 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 50px;
}

.Stap-10 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 60px;
    width: 50px;
}

.Stap-11 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 120px;
    width: 50px;
}

.Stap-12 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 180px;
    width: 50px;
}

.Stap-13 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 240px;
    width: 50px;
}

.Stap-14 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -56px;
    margin-left: 300px;
    width: 50px;
}

.Stap-15 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-16 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: 15px;
    width: 400px;
}

.Stap-17 {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin-top: -1100px;
    float: right;
    width: 400px;
}